<center><div class='well animated bounceInDown'>
	<span><h1>{{nav.botlleUser.username}}'s profile</h1></span>

	<div>
		<img class="img-circle img-responsive" src="{{nav.botlleUser.image}}">
	</div>
	<div>
		<h3>Your Botlles</h3>
		<div ng-repeat="botlle in nav.botlleUser.botlles track by $index" ng-show="botlle.deleted">
			<div>
				<div class="well botlleinfo">
					<span style="font-size: 30px;">{{botlle.title}}
						<span class="glyphicon glyphicon-heart" aria-hidden="true">{{botlle.likes}}
						</span>
					</span>

					<div class="well imginfo">
						<img class="img-responsive "  src="{{botlle.img}}">
					</div>
					<div class="well">
						<h3>{{botlle.desc}}<h3>
					</div>
					<button ui-sref="EditBotlle({id: botlle._id})" class="btn btn-warning">
						Edit
					</button>
					<!-- <button class="btn btn-danger" ng-click="nav.deletePin($index)">
						Delete
					</button> -->

					<button ui-sref="BotlleInfo({id: botlle._id})" class="btn btn-info">See Botlle</button>
				</div>
			</div>
		</div>
		<!-- {{nav.pinUser}} -->
		<!-- <div ng-repeat="friend in nav.pinUser.friends">
			<div>
			Friends:
			{{friend}}
			</div>
		</div> -->
	</div>
</div></center>
